@model IEnumerable<Todo>

<h2>Todos</h2>
<br />
<table class="table bg-light">
    <tr>
        <th>Task</th>
    </tr>

    @foreach (var todo in @Model)
    {
        <tr>
            <td width="80%">@todo.Task</td>
            <td width="10%">
                <div style="display: block">

                    @using (Html.BeginForm("DeleteTodoFromDatabase", "Todo", "Post"))
                    {
                        <input type="hidden" asp-for="@todo.Id" value="@todo.Id" />
                        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete" />
                    }
                </div>
            </td>
            <td width="10%">
                <div style="display: block">
                        <a href="/Todo/UpdateTodo/@todo.Id">Edit</a>
                </div>
            </td>
        </tr>
    }
</table>